<%= form_with(model: word_type, local: true) do |form| %>
  <%= render 'common/form_errors', resource: word_type %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :word_type_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :key %>
    <%= form.text_field :key, id: :word_type_key, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :word_type_key, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit nil, {class: 'btn btn-light'} %>
  </div>
<% end %>
