<p id="notice"><%= notice %></p>

<h1>Word Types</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Key</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @word_types.each do |word_type| %>
    <tr>
      <td><%= word_type.name %></td>
      <td>{!<%= word_type.key %>}</td>
      <td>
        <%= link_to fa_icon('eye'), word_type, class: 'btn btn-light' %>
        <%= link_to fa_icon('pencil-square-o'), edit_word_type_path(word_type), class: 'btn btn-light' %>
        <%= link_to fa_icon('trash-o'), word_type, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-light' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word Type', new_word_type_path, class: 'btn btn-radius btn-light' %>
