<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title"><%= @word_type.name %></h4>
    <div class="card-text">
      <p>
        <strong>{!<%= @word_type.key %>}</strong>
      </p>

      <div class="row">
        <div class="col">
          <% if can?(:edit, WordType) %>
            <%= link_to 'Edit', edit_word_type_path(@word_type), class: 'btn btn-outline-dark' %>
          <% end %>
          <%= link_to 'All Word Types', word_types_path, class: 'btn btn-outline-dark card-link' %>
        </div>
      </div>
      <br>
      <h4>Words</h4>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>Word</th>
          <th>Date</th>
          <th>User</th>
        </tr>
        </thead>
        <tbody>
        <% @word_type.words.order(created_at: :desc).each do |word| %>
          <tr>
            <td><%= word.value %></td>
            <td><%= word.created_at.strftime("%m-%d-%y %l:%M %P") %></td>
            <td><%= word&.user&.email %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
