<%= form_with(model: story, local: true) do |form| %>
  <%= render 'common/form_errors', resource: story %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :story_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :story_body, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.submit nil, {class: 'btn btn-light'} %>
  </div>
<% end %>
