<p id="notice"><%= notice %></p>

<h1>Stories</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @stories.each do |story| %>
    <tr>
      <td><%= story.name %></td>
      <td>
        <%= link_to fa_icon('eye'), story, class: 'btn btn-light' %>
        <% if can?(:edit, Story) %>
          <%= link_to fa_icon('pencil-square-o'), edit_story_path(story), class: 'btn btn-light' %>
        <% end %>
        <% if can?(:destroy, Story) %>
          <%= link_to fa_icon('trash-o'), story, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-light' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path, class: 'btn btn-light' %>
