<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title"><%= @story.name %></h4>
    <p class="card-text">
      <%= @story.body_with_words.gsub("\n", '<br>').html_safe %>
    </p>
    <% if can?(:edit, Story) %>
      <%= link_to 'Edit', edit_story_path(@story), class: 'btn btn-outline-dark card-link' %>
    <% end %>
    <%= link_to 'All Stories', stories_path, class: 'btn btn-outline-dark card-link' %>
  </div>
</div>