<% unless @word.persisted? %>
  <div class="row">
    <div class="col">
      <h5><%= @word_type.name %></h5>
      <% if @word_type.description.present? %>
        <p><%= @word_type.description %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_with(model: word, local: true) do |form| %>
  <%= render 'common/form_errors', resource: word %>

  <div class="form-group">
    <%= form.text_field :value, id: :word_value, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :word_type_id %>
    <%= form.submit nil, {class: 'btn btn-light'} %>
    <%= link_to 'Skip', new_word_path, {class: 'btn btn-outline-light'} %>
  </div>

  <div class="form-group">
    <%= link_to 'Rate Words', rate_word_path, {class: 'btn btn-outline-light'} %>
    <% if can?(:edit, Word) %>
      <%= link_to 'All Words', words_path, {class: 'btn btn-outline-light'} %>
    <% end %>
  </div>
<% end %>
