<p id="notice"><%= notice %></p>

<h1>Words</h1>

<table class="table">
  <thead>
  <tr>
    <th>Value</th>
    <th>Word type</th>
    <th><%= fa_icon('thumbs-o-down') %></th>
    <th><%= fa_icon('thumbs-o-up') %></th>
    <th><%= fa_icon('question') %></th>
    <th>User</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>
    <tr>
      <td><%= word.value %></td>
      <td><%= word.word_type&.name %></td>
      <td><%= word.down_votes.count %></td>
      <td><%= word.up_votes.count %></td>
      <td><%= word.skips.count %></td>
      <td><%= word.user&.email %></td>
      <td>
        <%= link_to fa_icon('eye'), word, class: 'btn btn-light' %>
        <%= link_to fa_icon('pencil-square-o'), edit_word_path(word), class: 'btn btn-light' %>
        <%= link_to fa_icon('trash-o'), word, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-light' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path, class: 'btn btn-light' %>
<%= link_to 'Delete All Words', destroy_all_words_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
