<% if @word %>
  <div class="row">
    <div class="col">
      <h3><%= @word.value %></h3>
      <p>
        ... is this word a "<b><%= @word_type.name %></b>"?
      </p>
      <p><%= @word_type.description %></p>
    </div>
  </div>
  <div class="form-group">

    <%= link_to fa_icon('thumbs-o-up'), save_word_rating_path(@word, rating: 1), {class: 'btn btn-light'} %>
    <%= link_to 'Not Sure', save_word_rating_path(@word, rating: 0), {class: 'btn btn-light'} %>
    <%= link_to fa_icon('thumbs-o-down'), save_word_rating_path(@word, rating: -1), {class: 'btn btn-light'} %>
  </div>


<% else %>
  <div class="alert alert-success" role="alert">
    No more words to rate!
  </div>
<% end %>

<div class="form-group">
  <%= link_to 'Add Words', new_word_path, {class: 'btn btn-outline-light'} %>
</div>