<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @word.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @word.user_id %>
</p>

<p>
  <strong>Down votes:</strong>
  <%= @word.down_votes %>
</p>

<p>
  <strong>Up votes:</strong>
  <%= @word.up_votes %>
</p>

<p>
  <strong>Word type:</strong>
  <%= @word.word_type_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
