<% flash.each do |name, msg| -%>
  <% name = 'primary' if name == 'notice' %>
  <% name = 'danger' if name == 'alert' %>
  <% if msg.is_a? String %>
    <div class="alert alert-<%= name %> alert-dismissible fade show" role="alert">
      <%= msg.html_safe %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end -%>