<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Mad Libs</a>

  <% if signed_in? %>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <% if can? :read, WordType %>
          <li class="nav-item">
            <%= link_to 'Word Types', word_types_path, class: 'nav-link' %>
          </li>
        <% end %>
        <% if can? :read, Word %>
          <li class="nav-item">
            <%= link_to 'Words', new_word_path, class: 'nav-link' %>
          </li>
        <% end %>
        <% if can? :read, Story %>
          <li class="nav-item">
            <%= link_to 'Stories', stories_path, class: 'nav-link' %>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>

      </ul>
    </div>
  <% end %>
</nav>