<!doctype html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <%= csrf_meta_tags %>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
    }

    .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
    }

    .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
    }

    .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }
  </style>

</head>
<body class="bg-1">
<%= render 'layouts/navigation' %>

<div class="container-fluid">

  <%= render 'common/flash_messages' %>

  <div class="row">
    <div class="col">
      <%= yield %>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Copyright <%= Date.today.year %> Sean Mikkelsen</p>
</footer>
</body>
</html>